/* ViewProfiles Styles */

.viewProfilesContainer {
  display:flex;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/Computer_5.jpg");
  background-size:cover;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
  flex-direction: column;
}

.usersDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:1000px;
  width:100%;
  margin:0 auto;
  margin-top: 30px;
}

.usersListTitle {
  margin: 0 auto;
  font-size: 4em;
  z-index: 99;
}

.viewResult {
  text-decoration:none;
  color:#009999;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  width: calc(25% - 40px);
  background:#EEEEEE;
  border-radius:5px;
  min-height:150px;
  margin:10px;
  padding:10px;
}
.userList {
display: flex;
flex-direction: row;
}
