/* ViewProfiles Styles */

.viewProfilesContainer {
  display:flex;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/Computer_5.jpg");
  background-size:cover;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.usersDisplay {
  text-decoration:none;
  color:#009999;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  width: calc(25% - 40px);
  background:#EEEEEE;
  border-radius:5px;
  min-height:150px;
  margin:10px;
  padding:10px;
}
