/* JobDetails Styles */

.jobDetailsContainer {
  display:flex;
  flex-direction: column;
  align-items:center;
  min-height:100vh;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/computer_7.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
}

.leftPanel {
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sidePanel {
  margin-right: 20px;
}
