/* JobDetails Styles */

.jobDetailsContainer {
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  min-height:100vh;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/computer_7.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
}
