/* JobDetails Styles */

.jobDetailsContainer {
  display:flex;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/hdr-nyc8.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.jobDetailFullOverlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(24, 29, 38, 0.3)
}

.detailContainer {

}

.jobTitle {

}

.jobDesc {

}

.workers {

}

.budget {

}

.startDate {

}

.timeFrame {

}

.jobStatus {

}

.detailsCreated {

}

.detailsUpdated {

}
