/* SignUp Styles */

.signUpContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: url('../../images/code.jpg');
  font-family:'Play', sans-serif;
  background-size: cover;
  background-attachment:fixed;
  background-position: center center;
  z-index: 0;
  margin: 0 auto;

}

.signUpFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(24, 29, 38, 0.3);
  z-index: 1;
}

.sign-up-container {
  justify-content: center;
  font-family: 'Play', sans-serif;
  z-index: 2;
  margin: 0 auto;

}

.hello-div {
  display: flex;
  justify-content: center;
  z-index: 2;
  color: #FFFFFF;
  margin-bottom: 2vh;
  font-size: 1em;
  margin-top: 15vh;
}

.button-div {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.name {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
}

.password {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  z-index: 2;
}

.passwordValidation {
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  z-index: 2;
  color: #009999;

}

.passValidation {
  color: black;
  font-size: 1em;
}

.submitNote {
  color: black;
  font-size: 1em;
}

.submitButton .button {
  padding: 5px;
  margin-top: 10px;

  border-radius: 5px;
  z-index: 99;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}

.choose-seeker {
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: white;
  width: 100px;
  z-index: 2;
  cursor: pointer;
  padding:4px;
  margin-right: 1vw;
}

.choose-employer {
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: white;
  width: 100px;
  z-index: 2;
  cursor: pointer;
  padding:4px;
  margin-left: 1vw;
}

.sign-up-seeker {
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.9);
  z-index: 2;
  margin:  0 auto;
}

.sign-up-employer{
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.9);
  z-index: 2;
  margin:  0 auto;
}
