/* SignUp Styles */

.signUpContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
.sign-up-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.hello-div {
  display: flex;
  justify-content: center;
}
.sign-up-seeker {
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 23px 83px 1px rgba(105,104,105,0.64);

}
.sign-up-employer {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.button-div {
  display: flex;
  justify-content: center;
}
.name {
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px;
}

.password {
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}
.passwordValidation {
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.passValidation {

}

.submitButton {
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.submitButton:hover {

}

.choose-seeker {
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: white;
  width: 100px;
  margin-right: 30px;


}
.choose-employer {
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: white;
  width: 100px;
}
.sign-up-employer{
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 23px 83px 1px rgba(105,104,105,0.64);

}
