/* UserProfile Styles */

.profileBox {
  flex-direction: row;
  display:inline-flex;
  margin: 100px;
  justify-content: space-between;
  flex-wrap:wrap;
  line-height: 50px;
  align-content: stretch;
}

.profileImage img {
  max-width: 150px;
  max-height: 150px;
  flex-wrap:wrap;
  margin: 50px;
  float:inherit;
  align-items: center;
}

.profileImageUpload {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  width: auto;
  height:auto;
  outline: none;
}

.profileUser h2 {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 2em;
  width: auto;
  height:auto;
  outline: none;
}

.profileTitle {
  color: white;
  border: none;
  font-size: 1.5em;
  font-style: normal;
  width: auto;
  height:auto;
  outline: none;
  text-decoration: none;
}

.profileEmail {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  width: 100px;
  height:auto;
  outline: none;
}

.profileLocation {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  width: 100px;
  height:auto;
  outline: none;
}

.profileStatus {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  width: 100px;
  height:auto;
  outline: none;
}


.profileBio {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  width: auto;
  height: auto;
  outline: none;

}


.linksBox a {
  background-color: #8DB580;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1em;
  width: auto;
  padding: 10px;
  outline: none;
  text-align: center;
  align-items:center;
}


.submitButton b {
  background-color: #8DB580;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1em;
  width: auto;
  padding: 10px;
  outline: none;
  text-align: center;
  align-items:center;
  line-height: 50px;
}
