/* UserProfile Styles */

.updateBox {
  animation: fadeIn 500ms;
  z-index:89;
  padding: 12px;
  width: auto;
  max-height:80vh;
  overflow:auto;
  background-color: #009999;
  border-radius: 25px;
  font-family: 'Play', sans-serif;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  z-index: 89;
  position:absolute;
  left: 13vw;
  right: 13vw;
  top: 10vh;
}

.profileFullOverlay {
  padding: 12px;
}

.updateImage img {
  width: 40vw;
  border-radius: 25px;
}

.profileHeader {
  color: white;
  text-decoration: none;
  width: 100%;
  height:auto;
  outline: none;
  margin-top: 50px;
}

.updateUser h2 {
  color: white;
  text-decoration: none;
  font-size: 1em;
  width: auto;
  height:auto;
  outline: none;
  margin: 0 auto;
  flex-wrap: wrap;
}

.updateTitle  {
  color: white;
  font-size: 1em;
  font-style: normal;
  width: auto;
  height:auto;
  outline: none;
}

.updateEmail  {
  color: white;
  font-size: 1em;
  width: auto;
  height:auto;
  outline: none;
  margin-top: 10px;
  margin: 0 auto;
}

.updateLocation  {
  color: white;
  font-size: 1em;
  width: auto;
  height:auto;
  outline: none;
  margin-top: 10px;
  margin: 0 auto;
}

.updateStatus  {
  color: white;
  font-size: 1em;
  width: auto;
  height:auto;
  outline: none;
  margin-top: 10px;
  margin: 0 auto;
}

.updateInfoBox {
  margin: 0 auto;
}

.bioBox {
  color: black;
  left:0;
  right:0;
  top:0;
  margin:0 auto;
  line-height: auto;
  margin-top: auto;
  width: auto;
  margin: 0 auto;
}


.updateBio {
  color: white;
  font-size: 1em;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.updateButton a {
  background-color: #FFFFFF;
  border-radius: 25px;
  color: #009999;
  text-decoration: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  width: auto;
  padding: 10px;
  margin-top: auto;
  outline: none;
  text-align: center;
  align-self: center;
}
