/* UserProfile Mobile Styles */
@media (max-width: 768px) {
  .updateBox {
    animation: fadeIn 500ms;
    z-index:89;
    padding: 20px;
    width:auto;
    height:auto;
    margin-top: 20px;
    background-color: #009999;
    border-radius: 25px;
    font-kerning: 10em;
    font-family: 'Play', sans-serif;
    line-height: normal;
    flex-shrink: 1;
  }

  .updateImage img {
    width:auto;
    height: auto;
    border-radius: 25px;
  }

  .profileHeader {
    color: white;
    text-decoration: none;
    width: auto;
    height:auto;
    outline: none;
    font-kerning: 5em;
    margin:0 auto;
    flex-direction: column;
  }
  .updateUser h2 {
    color: white;
    text-decoration: none;
    font-size: 1em;
    width: auto;
    height:auto;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .updateTitle  {
    color: white;
    font-size: 1em;
    font-style: normal;
    width: auto;
    height:auto;
    outline: none;
  }

  .updateEmail  {
    color: white;
    font-size: 1em;
    width: auto;
    height:auto;
    outline: none;
    margin-top: 10px;
  }

  .updateLocation  {
    color: white;
    font-size: 1em;
    width: auto;
    height:auto;
    outline: none;
    margin-top: 10px;
  }

  .updateStatus  {
    color: white;
    font-size: 1em;
    width: auto;
    height:auto;
    outline: none;
    margin-top: 10px;
  }

  .bioBox {
    flex-direction:row;
    color: black;
    left:0;
    right:0;
    top:0;
    margin:0 auto;
    line-height: 30px;
    margin-top: 20px;
  }


  .updateBio {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 1em;
    width: auto;
    height: auto;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }


  .updateButton a {
    background-color: #FFFFFF;
    border-radius: 25px;
    color: #009999;
    text-decoration: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    padding: 10px;
    margin-top: 25px;
    outline: none;
    text-align: center;
    align-self: center;
  }






}
