/* PhotoUpload Styles */
.profileImageUpload {
  color: #009999;
  font-weight: bold;
  border-radius: 5px;
  font-size: .8em;
  width:50%;
  height:150%;
  line-height: 25px;
  background-color: #FFFFFF;
  cursor:default;
  margin-bottom: 5vh;
  padding: 1vh;
  margin: 0 auto;
  margin-top: 2vh;
}
