/* PhotoUpload Styles */
.profileImageUpload {
  color: white;
  text-decoration: none;
  border: none;
  font-size: 1.2em;
  width: auto;
  height:auto;
  outline: none;
  line-height: 30px;
  margin-top: 60px;
}
