/* PhotoUpload Mobile Styles */
@media (max-width: 768px) {

  .profileImageUpload {
    color: #009999;
    font-weight: bold;
    border-radius: 5px;
    font-size: .7em;
    width: auto;
    height: auto;
    margin-right:5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #FFFFFF;
    cursor:default;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 15px;
    padding: 10px;
  }

}

@media (max-width: 425px) {

  .profileImageUpload {
    color: #009999;
    font-weight: bold;
    border-radius: 5px;
    font-size: .7em;
    background-color: #FFFFFF;
    cursor:default;
    flex-direction: column;
  }

}
