/* PhotoUpload Mobile Styles */
@media (max-width: 768px) {

  .profileImageUpload {
    color: #009999;
    font-weight: bold;
    border-radius: 20px;
    font-size: .7em;
    width: 40%;
    height: 40%;
    margin-right:10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #FFFFFF;
    cursor:default;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 15px;
    padding: 10px;
  }

}

@media (max-width: 425px) {

  .profileImageUpload {
    color: #009999;
    font-weight: bold;
    border-radius: 20px;
    font-size: .7em;
    width: 20%;
    height: 20%;
    margin-right:10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #FFFFFF;
    cursor:default;
    flex-direction: column;
  }

}
