/* PhotoUpload Styles */
.profileImageUpload {
  color: #009999;
  font-weight: bold;
  border-radius: 5px;
  font-size: .8em;
  width:40%;
  line-height: 24px;
  background-color: #FFFFFF;
  cursor:default;
  margin-bottom: 5vh;
  padding: 1vh;
  margin: 0 auto;
  margin-top: 1vh;
  outline: none;
  text-decoration: none;
}
