/* EditJob Styles */
.jobSection {
  background-color: #009999;
  padding:10px;
  border-radius: 5px;

}



.jobSectionLinksSection {
  background-color: #009999;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1vh;
}

.deleteButton {
  color: #AAAAAA;
}
