/* EditJob Styles */
.jobSection {
  background-color: #009999;
  padding:10px;
  border-radius: 5px;

}



.jobSectionLinksSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}
