/* Home Styles */

.homeContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: url('../../images/computer_1.jpg');
  font-family:'Source Sans Pro', sans-serif;
  background-size: cover;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
.sign-in {
  background-color: #8DB580;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 15px;
  width: 80px;
  padding: 10px;
  outline: none;
  margin-left: 1100px;
  margin-top: 20px;
}
.sign-up {
  background-color: #8DB580;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 15px;
  width: 80px;
  padding: 10px;
  outline: none;
  text-align: center;
}
.sign-in-button {
  display: flex;
  flex-direction: column;

}
