/* Home Styles */

.homeContainer {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: url('../../images/computer_1.jpg');
  font-family:'Play', sans-serif;
  background-size: cover;
  background-attachment:fixed;
  z-index: 0;
}

.homeFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(24, 29, 38, 0.3);
  z-index: 1;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.entranceButtons {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.sign-in {
  background-color: #8DB580;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 10%;
  height: 5vh;
  outline: none;
  text-align: center;
  z-index: 2;
}

.sign-up {
  background-color: #8DB580;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 10%;
  height: 5vh;
  outline: none;
  text-align: center;
  z-index: 2;
}
