/* Home Styles */

.homeContainer {
  display:flex;
  flex-direction: column;
  height:100vh;
  background-size: cover;
  background-attachment:fixed;
  z-index: 0;
  background:url('../../images/crew.jpg');
  background-size: cover;
  margin: 0 auto;
}

.homeFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 1em;
}

.jobWeaselLogo img {
  max-width: 200px;
  max-height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
  z-index: 2;
  margin-bottom: 2vh;
}

.entranceButtons {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: .5vh;
  z-index: 2;
}

.sign-in {
  background-color: #009999;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 20vw;
  height: 45px;
  outline: none;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  margin-left: 2vw;
  margin-top: 2vh;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.9);
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
}

.sign-up {
  background-color: #009999;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 20vw;
  height: 45px;
  outline: none;
  text-align: center;
  z-index: 2;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  font-family: 'Open-sans', sans-serif;
  font-weight: 300;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.9);
  margin-top: 2vh;
}
.helloJob {
  font-family: 'Dosis', sans-serif;
  font-size: 3.4em;
}
.subHeader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
