/* EditUser Styles */

.jsonNotification {
  background-color: gray;
}

.fullOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  z-index: 996;
  left:0;
  background:rgba(0, 0, 0, 0.3);
}

.renuiDialogOverlay {
  position:fixed;
  top:0;
  left:0;
  animation: fadeIn 500ms;
  z-index:997;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color: black;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100%  { opacity: 1;  }
}

.renuiDialogOverlayHidden {
  display:none;
}

.renuiDialog {
  background:#FFFFFF;
  min-height:40vh;
  width:40vw;
  z-index:998;
  border-radius:5px;
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  padding:15px;
}
