/* Profile Mobile Styles */
@media (max-width: 1024px) {
  .profileContainer {
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;

  }

  .profilePhoto {
    max-width: 100px;
    max-height: 100px;
    flex-wrap:wrap;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom:1vh;
  }



  .profileDisplay {
    width: auto;
    margin-right: 20px;
    margin-top:20px;
    height: auto;
  }

  .showProfileSection {
    margin-top: 0;
  }

  .linksBox {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .sidePanel {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 425px) {
  .profileContainer {
    flex-direction:auto;
    flex-wrap:auto;
    display: flex;
  }

  .profileImage {
    margin-top: 10px;
  }

  .sideButton {
    flex-basis: 80px;
  }

  .profileDisplay {
    width: auto;
    margin: auto;
    padding: inherit;
    height: auto;
  }

  .sidePanel {
    margin-top: 5px;
  }

  .linksBox {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
