/* Profile Mobile Styles */
@media (max-width: 1024px) {
  .profileContainer {
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
  }



  .profileDisplay {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    margin-top:20px;
    height: auto;
  }

  .profileEmail {
    font-weight: bold;
    font-size: 80%;
    width: auto;
  }

  .linksBox {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .profileContainer {
    flex-direction:auto;
    flex-wrap:auto;
    display: flex;
  }

  .profileImage {
    margin-top: 10px;
  }



  .profileDisplay {
    width: auto;
    margin: auto;
    padding: inherit;
    height: auto;
  }

  .profileEmail {
    font-weight: bold;
    font-size: 90%;
    width: auto;
  }

  .linksBox {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
