/* Admin Styles */

.container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #FFFFFF;
  font-size: 2em;
  font-weight: bold;
  padding: 50px;
  background-image: url("../../IMAGES/hdr-nyc7.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
}

.adminFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(24, 29, 38, 0.3);
  z-index: 1;
}

.userRow {
  font-size: 15pt;
  width: 75%;
  border-width: 10px;
  border-color: black;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, .5);
}

.approvalPanel {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.approvalButton {
  box-shadow: 3px 6px 2px #000000;
  background-color: #999999;
  border-width: 15px;
  user-select: none;
  cursor: default;
}

.approvalButton:hover {
  background-color: #AAAAAA;
}

.approvalButton:active {
  transform: translate(2px, 2px);
}

.userInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #AAAAAA;
}

.usersPanel {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}
