/* Admin Styles */

.container {
  display:flex;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #FFFFFF;
  font-size: 2em;
  font-weight: bold;
  padding: 50px;
  background-image: url("../../IMAGES/hdr-nyc7.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.recruiterReview {

}

.profileReview {

}

.changeRecruitersStatus {

}

.changeProfileStatus {

}
