/* Admin Styles */

.adminContainer {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: #FFFFFF;
  font-size: 2em;
  padding: 50px;
  background-image: url("../../IMAGES/technology1.jpg");
  background-size:cover;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
}

.adminFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(24, 29, 38, 0.3);
  z-index: 1;
}

.userRow {
  font-size: .5em;
  width: 75%;
  border-width: 10px;
  border-color: black;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Play', sans-serif;

}

.approvalPanel {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.approvalButton {
  box-shadow: 3px 6px 2px #000000;
  background-color: #009999;
  border-width: 15px;
  user-select: none;
  cursor: pointer;
  height:2.2vh;
  width:5vw;
  border-radius: 5px;
  font-family: 'Play', sans-serif;
  font-variant: small-caps;
  padding-top: .5vh;
}

.approvalButton:hover {
  background-color: #FFFFFF;
  color: #009999;

}

.approvalButton:active {
  transform: translate(2px, 2px);
}

.userInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #AAAAAA;
}

.usersPanel_approved {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}

.usersPanel_pending {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}
