/* Nav Styles */
.navContainer {
  display: flex;
  flex-direction: row;
  background: #404040;
  width: 100%;
  height: 50px;
  justify-content: space-between;;
  align-items: center;
  color: white;
  z-index: 13;
}

.navButtons {
  color: white;
  text-decoration: none;
  font-weight:bold;
  font-variant: small-caps;
  margin-right:15px;
  font-size: 2em;
  background-color: #FFFFFF;
  width:100vw;
}

.siteName {
  width: 30%;
  font-size: 2em;
  margin-left: 15px;
  font-family: 'Open-Sans', sans-serif;

}
.nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;

}
.navButton {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: normal;
  font-variant:normal;
  font-family: 'Open-Sans', sans-serif;
}
.menuIcon {
  display: none;
}
.navButton:hover {

}
