/* Nav Styles */
.navContainer {
  display:flex;
  flex-direction:column;
  background: rgba(0,0,0,0);
  background-size: cover;
  width:auto;
  justify-content:space-between;
  align-items:right;
  text-align: center;
  overflow:auto;
  z-index: 2;
  position: fixed;
  margin-top: 5vh;
}

.navButtons {
  color:#0e1b4c;
  text-decoration: none;
  font-weight:bold;
  font-variant: small-caps;
  margin-right:15px;
  font-size: 4em;
}
