/* ShowProfile Styles */

.userProfile {
  width:100%;
}

.showProfileSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  border-radius: 5px;

}

.addLink-panel p {
  margin-bottom: .5vh;
}

.showProfileLinksSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}

.userLink a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #009999;
  margin-right: 10px;
}



.userSkill {
  word-spacing: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 12px;
}

.skillsSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #009999;
  border-radius: 5px;
}

.profileField {
  display: flex;
  flex-direction: row;
  justify-content: left;

}

textarea{
  width: 100%;
}

.bio {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.bio p {
  text-indent: 5em;
}

.profilePhoto {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom: 5px;
}

.imagePreview {
  max-width: 100px;
  max-height: 100px;
}
