/* ShowProfile Styles */

.userProfile {
  width:60%;
}

.showProfileSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  border-radius: 5px;

}

.addLink-panel p {
  margin-bottom: .5vh;
}

.showProfileLinksSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}

.userLink a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #009999;
  margin-right: 10px;
}

.deleteButton {
  cursor: pointer;
  color: #AAAAAA;
}

.userSkill {
  word-spacing: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 12px;
}

.skillsSection {
  background-color: #009999;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #009999;
  border-radius: 5px;
}

.profileField {
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.panel {
  display: flex;
  margin: 5px;
  background-color: #FFFFFF;
  color: #009999;
  text-align: left;
  padding-left: .5vw;
  padding-right: .5vw;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  align-items: center;
}

.label {
  font-weight: bold;
  width: 30%;
  display: flex;
  justify-content:flex-start;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #009999;
  font-size: 1.2em;
}

.value {
  height: auto;
  display: flex;
  flex-direction: row;
  color: #009999;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.1em;
  margin-left: 10px;

}

textarea{
  width: 100%;
}

.bio {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.bio p {
  text-indent: 5em;
}
