/* ShowProfile Styles */

.showProfileSection {
  background-color: #009999;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  align-items: center;
  margin-top: 8vh;
  border-radius: 5px;

}

.profileSection {
  background-color: #009999;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 5px;

}

.addLink-panel p {
  margin-bottom: .5vh;
}

.linksSection {
  background-color: #009999;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  align-items: center;
  border-radius: 5px;
}

.userLink a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #009999;
  margin-right: 10px;
}

.deleteButton {
  cursor: pointer;
  color: #AAAAAA;
}

.userSkill {
  word-spacing: 1em;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 12px;
}

.jsonNotification {
  color: #FFFFFF;
}


.skillsSection {
  background-color: #009999;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  align-items: center;
  color: #009999;
  border-radius: 5px;
}

.profileField {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: left;

}

.panel {
  display: flex;
  width: 95%;
  margin: 5px;
  background-color: #FFFFFF;
  color: #009999;
  text-align: left;
  padding-left: .5vw;
  padding-right: .5vw;
  padding-bottom: 5px;
  padding-top: 5px;
  justify-content: left;
  border-radius: 5px;
}

.label {
  font-weight: bold;
  width: 20%;
  display: flex;
  justify-content:flex-start;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #009999;
  font-size: 1.2em;
}

.value {
  height: auto;
  display: flex;
  flex-direction: row;
  color: #009999;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.1em;
}

textarea{
  width: 100%;
}

.bio {
  max-width: 25vw;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.bio p {
  text-indent: 5em;
}

.updateProfile {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #009999;
  text-decoration: none;
  border: none;
  font-size: .7em;
  font-weight: bold;
  padding: 5px;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

.updateProfile:hover {
  border-radius: 5px;
  text-decoration: none;
  background-color: #009999;
  color: #FFFFFF;
}
