/* EditAdmins Styles */


.editAdminsUnderlay {
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.editAdminsInput {
  flex-direction: column;
  display: flex;
}

.editAdminsInput .value2{
  flex-direction: column;
}
