/* EditAdmins Styles */
.editAdminsContainer {
  background-color: white;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  top: 75px;
  font-size: 2em;
  font-family: 'Play', sans-serif;
  z-index: 13;
}

.editAdminsUnderlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.editAdminsInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  color: black;
  z-index: 13;
}

.usersList {
  width:100%;
}

.adminUsersDisplay {
  box-shadow: 3px 6px 2px #000000;
  background-color: #009999;
  border-width: 15px;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Play', sans-serif;
  font-variant: small-caps;
  padding-top: .5vh;
  font-size: 1.2em;
  width:100%;
}
