/* Jobs Styles */

.jobsContainer {
  display:flex;
  min-height:100vh;
  text-align: center;
  font-family: 'Play', sans-serif;
  background-image: url("../../IMAGES/computer_2.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: 0;
}

.jobsFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(24, 29, 38, 0.3);
  z-index: 1;
}

.jobDisplay {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: auto;
  width: auto;
  background: #f49716;
  color: black;
  padding: 15px;
  box-shadow: 5px 5px 5px #000000;
  border-radius: 5px;
  font-variant:small-caps;
  align-items: center;
  z-index: 2;
}

a {
  z-index: 999;
}
