/* Jobs Styles */

.jobsContainer {
  display:flex;
  flex-direction: column;
  min-height:100vh;
  background: url('../../images/NYC_windows.jpg');
  font-family:'Play', sans-serif;
  background-size: cover;
  background-attachment:fixed;
  background-color: #FFFFFF;
}

.jobsTitle {
  margin: 0 auto;
  font-size: 4em;
  z-index: 99;
}

.jobDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:1000px;
  width:100%;
  margin:0 auto;
  margin-top: 30px;
}

.jobsFullOverlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.nextIcon {
  position: fixed;
  font-size: 1.8em;
  margin: 5px;
  padding: 10px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  right: 0;
  z-index: 3;
}

.previousIcon {
  position: fixed;
  font-size: 1.8em;
  margin: 5px;
  padding: 10px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 0;
}

.resultBox {
  min-height: 100px;
  width: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: #FFFFFF;
  color: #009999;
  font-family:'Play', sans-serif;
}

.jobDetailLink {
  text-decoration:none;
  color:#009999;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  width: calc(25% - 40px);
  background:#EEEEEE;
  border-radius:5px;
  min-height:150px;
  margin:10px;
  padding:10px;
}

/*.searchHolder {
  display: flex;
  flex-direction: row;
  align-self: center;
}*/

.searchContentInput {
  width: auto;
  height: 5vh;
  margin-left: 35%;
  font-size: 1.4em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
  z-index: 99;
}

.submitButton {
  height: 5vh;
  width: 85px;
  margin-left: 2%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
  z-index: 99;
}

.nextIcon {
  font-size: 1.8em;
  margin: 5px;
  padding: 10px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

a {
  z-index: 999;
}
